# view pra formulario de login

<h1>Login</h1>
<%= form_with url: session_path, method: :post do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.submit "Entrar" %>
  </div>
<% end %>

<%= link_to "Criar uma conta", new_client_path %>
