<h2>Cadastro de Dono de Quadra</h2>

<%= form_for(@user, url: registration_path(:user)) do |f| %>
  <%= f.hidden_field :role, value: "court_owner" %>
  
  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme a senha" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar como Dono de Quadra" %>
  </div>
<% end %>

<p>Já tem uma conta? <%= link_to "Entrar", new_user_session_path %></p>
