<div class="container mt-4">
  <h1>Logs de Notificações</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Usuário</th>
        <th>Status</th>
        <th>Data de Envio</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @notification_logs.each do |log| %>
        <tr class="<%= log.status == 'failed' ? 'table-danger' : '' %>">
          <td><%= log.id %></td>
          <td><%= log.notification_type %></td>
          <td><%= log.user.email %></td>
          <td><%= log.status %></td>
          <td><%= l(log.sent_at, format: :long) if log.sent_at %></td>
          <td>
            <%= link_to 'Detalhes', admin_notification_log_path(log), class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @notification_logs %>
</div> 