<div id="<%= dom_id court %>">
  <p>
    <strong>Name:</strong>
    <%= court.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= court.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= court.capacity %>
  </p>

  <p>
    <strong>Working Hours:</strong>
    <%= court.working_hours %>
  </p>

</div>
